flows (4).json
[{"id":"9aa44bca.caa788","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"53d81b61.ea6364","type":"function","z":"9aa44bca.caa788","name":"PreToken","func":"global.set(\"lh\",msg.payload.lh)\nglobal.set(\"wt\",msg.payload.wt)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"ip\",msg.payload.ip)\nglobal.set(\"nt\",msg.payload.nt)\nglobal.set(\"bt\",msg.payload.bt)\nglobal.set(\"ps\",msg.payload.ps)\nglobal.set(\"fs\",msg.payload.fs)\nglobal.set(\"ro\",msg.payload.ro)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"elon\",msg.payload.elon)\nvar apikey=\"qDAvZ0kk64sdYoaubDy9UovMjPhMmS2mZuMss1ZXIjrz\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":460,"wires":[["43b5d940.e8fad8"]]},{"id":"43b5d940.e8fad8","type":"http request","z":"9aa44bca.caa788","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":479,"y":448.9999952316284,"wires":[["359fc9c3.068fb6"]]},{"id":"7ecb812e.e9681","type":"debug","z":"9aa44bca.caa788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":918.0000114440918,"y":190.99999713897705,"wires":[]},{"id":"359fc9c3.068fb6","type":"function","z":"9aa44bca.caa788","name":"Pre Prediction","func":"var lh = global.get('lh')\nvar wt = global.get('wt')\nvar id = global.get('id')\nvar ip = global.get('ip')\nvar nt = global.get('nt')\nvar bt = global.get('bt')\nvar ps = global.get('ps')\nvar fs = global.get('fs')\nvar ro = global.get('ro')\nvar ts = global.get('ts')\nvar elon = global.get('elon')\nvar token=msg.payload.access_token\nvar instance_id=\"31093681-64e0-4a39-b832-943a3f0cbbfb\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"layer_height\", \"wall_thickness\", \"infill_density\", \"infill_pattern\", \"nozzle_temperature\", \"bed_temperature\", \"print_speed\", \"fan_speed\", \"roughness\", \"tension_strenght\", \"elongation\"], \"values\": [[lh,wt,id,ip,nt,bt,ps,fs,ro,ts,elon]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":676.0000076293945,"y":411.9999990463257,"wires":[["165588ba.ed7657"]]},{"id":"165588ba.ed7657","type":"http request","z":"9aa44bca.caa788","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/09d0924d-49c7-41be-8a9a-3536c9443205/predictions","tls":"","persist":false,"proxy":"","authType":"","x":769.5000076293945,"y":355.9999990463257,"wires":[["6fd501ea.d4db1","7ecb812e.e9681"]]},{"id":"ef523599.4177c8","type":"ui_form","z":"9aa44bca.caa788","name":"","label":"","group":"533c9c98.155654","order":1,"width":0,"height":0,"options":[{"label":"layer_height","value":"lh","type":"number","required":true,"rows":null},{"label":"wall_thickness","value":"wt","type":"number","required":true,"rows":null},{"label":"infill_density","value":"id","type":"number","required":true,"rows":null},{"label":"infill_pattern","value":"ip","type":"text","required":true,"rows":null},{"label":"nozzle_temperature","value":"nt","type":"number","required":true,"rows":null},{"label":"bed_temperature","value":"bt","type":"number","required":true,"rows":null},{"label":"print_speed","value":"ps","type":"number","required":true,"rows":null},{"label":"fan_speed","value":"fs","type":"number","required":true,"rows":null},{"label":"roughness","value":"ro","type":"number","required":true,"rows":null},{"label":"tension_strenght","value":"ts","type":"number","required":true,"rows":null},{"label":"elongation","value":"elon","type":"number","required":true,"rows":null}],"formValue":{"lh":"","wt":"","id":"","ip":"","nt":"","bt":"","ps":"","fs":"","ro":"","ts":"","elon":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":71,"y":502.9999952316284,"wires":[["53d81b61.ea6364"]]},{"id":"75a52119.d01be","type":"ui_text","z":"9aa44bca.caa788","group":"533c9c98.155654","order":2,"width":0,"height":0,"name":"","label":"Material:","format":"{{msg.payload}}","layout":"row-spread","x":807.6000366210938,"y":508.20000743865967,"wires":[]},{"id":"6fd501ea.d4db1","type":"function","z":"9aa44bca.caa788","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":200,"wires":[["75a52119.d01be"]]},{"id":"533c9c98.155654","type":"ui_group","z":"","name":"Default","tab":"b07bebba.110718","order":1,"disp":true,"width":"6","collapse":false},{"id":"b07bebba.110718","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]